Web References/MyService/SERVICEs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hspm.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://hspm.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hspm.org/">
      <s:import namespace="http://tempuri.org/SqlDS.xsd" />
      <s:import namespace="http://hspm.org/HospubDS.xsd" />
      <s:import schemaLocation="http://hspmins5/faaservices/services.asmx?schema=SqlDS" namespace="http://tempuri.org/SqlDS.xsd" />
      <s:import schemaLocation="http://hspmins5/faaservices/services.asmx?schema=HospubDS" namespace="http://hspm.org/HospubDS.xsd" />
      <s:element name="getDadosFAA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_faa" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDadosFAAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDadosFAAResult" type="tns:DadosFAA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DadosFAA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Proceds">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
              <s:attribute fixed="http://tempuri.org/SqlDS.xsd" name="namespace" />
              <s:attribute fixed="Proceds_EspecsDataTable" name="tableTypeName" />
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="Clinica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Especialidade" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodEspec" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Profissional" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sexo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DtNasc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumFAA" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getEspecbyCod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_cod" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEspecbyCodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEspecbyCodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllEspecs">
        <s:complexType />
      </s:element>
      <s:element name="getAllEspecsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllEspecsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://hspm.org/HospubDS.xsd" name="namespace" />
                <s:attribute fixed="EspecialidadesDataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllProceds">
        <s:complexType />
      </s:element>
      <s:element name="getAllProcedsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllProcedsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://hspm.org/HospubDS.xsd" name="namespace" />
                <s:attribute fixed="ProcedimentosDataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDescrProced">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_codigo" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDescrProcedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDescrProcedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="gravaProcedEspec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_cod" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="_cod_espec" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="gravaProcedEspecResponse">
        <s:complexType />
      </s:element>
      <s:element name="getProcedsEspecs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_cod_espec" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProcedsEspecsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProcedsEspecsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://tempuri.org/SqlDS.xsd" name="namespace" />
                <s:attribute fixed="EspecProcedDataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delProcedEspec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_cod" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_espec" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delProcedEspecResponse">
        <s:complexType />
      </s:element>
      <s:element name="getProcedsEspecsFAA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_cod_espec" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProcedsEspecsFAAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProcedsEspecsFAAResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://tempuri.org/SqlDS.xsd" name="namespace" />
                <s:attribute fixed="Proceds_EspecsDataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllProcedsEspecs">
        <s:complexType />
      </s:element>
      <s:element name="getAllProcedsEspecsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllProcedsEspecsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
                <s:attribute fixed="http://tempuri.org/SqlDS.xsd" name="namespace" />
                <s:attribute fixed="ListaProcedsEspecsDataTable" name="tableTypeName" />
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClinbyEspec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_espec" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClinbyEspecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClinbyEspecResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDadosFAASoapIn">
    <wsdl:part name="parameters" element="tns:getDadosFAA" />
  </wsdl:message>
  <wsdl:message name="getDadosFAASoapOut">
    <wsdl:part name="parameters" element="tns:getDadosFAAResponse" />
  </wsdl:message>
  <wsdl:message name="getEspecbyCodSoapIn">
    <wsdl:part name="parameters" element="tns:getEspecbyCod" />
  </wsdl:message>
  <wsdl:message name="getEspecbyCodSoapOut">
    <wsdl:part name="parameters" element="tns:getEspecbyCodResponse" />
  </wsdl:message>
  <wsdl:message name="getAllEspecsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllEspecs" />
  </wsdl:message>
  <wsdl:message name="getAllEspecsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllEspecsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllProcedsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllProceds" />
  </wsdl:message>
  <wsdl:message name="getAllProcedsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllProcedsResponse" />
  </wsdl:message>
  <wsdl:message name="getDescrProcedSoapIn">
    <wsdl:part name="parameters" element="tns:getDescrProced" />
  </wsdl:message>
  <wsdl:message name="getDescrProcedSoapOut">
    <wsdl:part name="parameters" element="tns:getDescrProcedResponse" />
  </wsdl:message>
  <wsdl:message name="gravaProcedEspecSoapIn">
    <wsdl:part name="parameters" element="tns:gravaProcedEspec" />
  </wsdl:message>
  <wsdl:message name="gravaProcedEspecSoapOut">
    <wsdl:part name="parameters" element="tns:gravaProcedEspecResponse" />
  </wsdl:message>
  <wsdl:message name="getProcedsEspecsSoapIn">
    <wsdl:part name="parameters" element="tns:getProcedsEspecs" />
  </wsdl:message>
  <wsdl:message name="getProcedsEspecsSoapOut">
    <wsdl:part name="parameters" element="tns:getProcedsEspecsResponse" />
  </wsdl:message>
  <wsdl:message name="delProcedEspecSoapIn">
    <wsdl:part name="parameters" element="tns:delProcedEspec" />
  </wsdl:message>
  <wsdl:message name="delProcedEspecSoapOut">
    <wsdl:part name="parameters" element="tns:delProcedEspecResponse" />
  </wsdl:message>
  <wsdl:message name="getProcedsEspecsFAASoapIn">
    <wsdl:part name="parameters" element="tns:getProcedsEspecsFAA" />
  </wsdl:message>
  <wsdl:message name="getProcedsEspecsFAASoapOut">
    <wsdl:part name="parameters" element="tns:getProcedsEspecsFAAResponse" />
  </wsdl:message>
  <wsdl:message name="getAllProcedsEspecsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllProcedsEspecs" />
  </wsdl:message>
  <wsdl:message name="getAllProcedsEspecsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllProcedsEspecsResponse" />
  </wsdl:message>
  <wsdl:message name="getClinbyEspecSoapIn">
    <wsdl:part name="parameters" element="tns:getClinbyEspec" />
  </wsdl:message>
  <wsdl:message name="getClinbyEspecSoapOut">
    <wsdl:part name="parameters" element="tns:getClinbyEspecResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicesSoap">
    <wsdl:operation name="getDadosFAA">
      <wsdl:input message="tns:getDadosFAASoapIn" />
      <wsdl:output message="tns:getDadosFAASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEspecbyCod">
      <wsdl:input message="tns:getEspecbyCodSoapIn" />
      <wsdl:output message="tns:getEspecbyCodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllEspecs">
      <wsdl:input message="tns:getAllEspecsSoapIn" />
      <wsdl:output message="tns:getAllEspecsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllProceds">
      <wsdl:input message="tns:getAllProcedsSoapIn" />
      <wsdl:output message="tns:getAllProcedsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDescrProced">
      <wsdl:input message="tns:getDescrProcedSoapIn" />
      <wsdl:output message="tns:getDescrProcedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="gravaProcedEspec">
      <wsdl:input message="tns:gravaProcedEspecSoapIn" />
      <wsdl:output message="tns:gravaProcedEspecSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getProcedsEspecs">
      <wsdl:input message="tns:getProcedsEspecsSoapIn" />
      <wsdl:output message="tns:getProcedsEspecsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delProcedEspec">
      <wsdl:input message="tns:delProcedEspecSoapIn" />
      <wsdl:output message="tns:delProcedEspecSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getProcedsEspecsFAA">
      <wsdl:input message="tns:getProcedsEspecsFAASoapIn" />
      <wsdl:output message="tns:getProcedsEspecsFAASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllProcedsEspecs">
      <wsdl:input message="tns:getAllProcedsEspecsSoapIn" />
      <wsdl:output message="tns:getAllProcedsEspecsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClinbyEspec">
      <wsdl:input message="tns:getClinbyEspecSoapIn" />
      <wsdl:output message="tns:getClinbyEspecSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesSoap" type="tns:ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDadosFAA">
      <soap:operation soapAction="http://hspm.org/getDadosFAA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEspecbyCod">
      <soap:operation soapAction="http://hspm.org/getEspecbyCod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEspecs">
      <soap:operation soapAction="http://hspm.org/getAllEspecs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProceds">
      <soap:operation soapAction="http://hspm.org/getAllProceds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDescrProced">
      <soap:operation soapAction="http://hspm.org/getDescrProced" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gravaProcedEspec">
      <soap:operation soapAction="http://hspm.org/gravaProcedEspec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcedsEspecs">
      <soap:operation soapAction="http://hspm.org/getProcedsEspecs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delProcedEspec">
      <soap:operation soapAction="http://hspm.org/delProcedEspec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcedsEspecsFAA">
      <soap:operation soapAction="http://hspm.org/getProcedsEspecsFAA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProcedsEspecs">
      <soap:operation soapAction="http://hspm.org/getAllProcedsEspecs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinbyEspec">
      <soap:operation soapAction="http://hspm.org/getClinbyEspec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicesSoap12" type="tns:ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDadosFAA">
      <soap12:operation soapAction="http://hspm.org/getDadosFAA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEspecbyCod">
      <soap12:operation soapAction="http://hspm.org/getEspecbyCod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEspecs">
      <soap12:operation soapAction="http://hspm.org/getAllEspecs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProceds">
      <soap12:operation soapAction="http://hspm.org/getAllProceds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDescrProced">
      <soap12:operation soapAction="http://hspm.org/getDescrProced" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gravaProcedEspec">
      <soap12:operation soapAction="http://hspm.org/gravaProcedEspec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcedsEspecs">
      <soap12:operation soapAction="http://hspm.org/getProcedsEspecs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delProcedEspec">
      <soap12:operation soapAction="http://hspm.org/delProcedEspec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcedsEspecsFAA">
      <soap12:operation soapAction="http://hspm.org/getProcedsEspecsFAA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProcedsEspecs">
      <soap12:operation soapAction="http://hspm.org/getAllProcedsEspecs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClinbyEspec">
      <soap12:operation soapAction="http://hspm.org/getClinbyEspec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="ServicesSoap" binding="tns:ServicesSoap">
      <soap:address location="http://hspmins5/faaservices/services.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicesSoap12" binding="tns:ServicesSoap12">
      <soap12:address location="http://hspmins5/faaservices/services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>